[submodule "lecture-markdown/shared-slides"]
	path = lecture-markdown/shared-slides
	url = https://github.com/DanySK/shared-slides.git
[submodule "lecture-markdown/themes/reveal-hugo"]
	path = lecture-markdown/themes/reveal-hugo
	url = https://github.com/cric96/reveal-hugo.git
