name: Markdown slides build and deploy
on:
  push:
    branches-ignore:
      - 'renovate/**'
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'LICENSE'
  pull_request:
  workflow_dispatch:

jobs:
  Build-Slides:
    concurrency:
      group: markdown-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Checkout
        uses: danysk/action-checkout@0.2.27
      - name: Compute the version of Hugo
        id: hugo
        shell: bash
        run: |
          # Idea: the regex matcher of Renovate keeps this string up to date automatically
          # The version is extracted and used to access the correct version of the scripts
          USES=$(cat <<TRICK_RENOVATE
          - uses: gohugoio/hugo@v0.153.5
          TRICK_RENOVATE
          )
          echo "Scripts update line: \"$USES\""
          echo "Computed version: \"${USES#*@v}\""
          echo "::set-output name=version::${USES#*@v}"
      - name: Download Hugo
        run: |
          HUGO_VERSION="${{ steps.hugo.outputs.version }}"
          URL="https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb"
          wget --retry-connrefused --waitretry=1 --read-timeout=20 "$URL" --output-document=hugo.deb
      - name: Install Hugo
        run: sudo dpkg -i hugo.deb
      - name: Remove Hugo Installer
        run: rm hugo.deb
      # - name: Start SSH session
      #   uses: luchihoratiu/debug-via-ssh@main
      #   with:
      #     NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
      #     SSH_PASS: ${{ secrets.SSH_PASS }}
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.277.0
        with:
          working-directory: lecture-markdown/shared-slides
      - name: Run the pre-processor
        working-directory: lecture-markdown
        run: shared-slides/preprocess.rb
      - name: Build slides with hugo
        working-directory: lecture-markdown
        run: hugo
      - name: Transform and Inline Mermaid charts
        uses: cric96/inline-mermaid@1.19.0
        with:
          root-folder: lecture-markdown/build
          config-file: lecture-markdown/config.toml
      - name: Deploy globally
        if: ${{ github.event_name != 'pull_request' }}
        uses: JamesIves/github-pages-deploy-action@v4.7.6
        with:
          branch: gh-pages
          folder: lecture-markdown/build
          repository-name: unibo-lptsi-pss/unibo-lptsi-pss.github.io
          token: ${{ secrets.DEPLOYMENT_TOKEN }}